@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
Branch1
    <p>Learn about working with branches<a href="https://docs.microsoft.com/aspnet/core">MTM building Web apps with ASP.NET Core</a>.</p>

    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">MTM is building Web apps with ASP.NET Core</a>.</p>
 main
</div>
